h1 {
  font-family: "Caveat", cursive;
  font-size: 3em;
}

.AddEntry textarea {
  height: 10em;
  width: 50%;
  font-family: "Montserrat", sans-serif;
}

.AddEntry h2 {
  margin: 100px 0 50px 0;
}

.AddEntry h3 {
  margin-top: 50px;
}

.AddEntry button {
  background-color: #EDE4E0;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  margin-top: 12px;
  transition: background-color 0.2s;
}

.AddEntry button[type="submit"] {
  margin-top: 30px;
}

.AddEntry button:hover {
  background-color: #D9CECA;
}

.MoodSelection button {
  margin-right: 8px;
}

.MoodSelection button:hover {
  background-color: #D9CECA;
}

.MoodSelection button.selected {
  background-color: #FCC8D1;
}

.UserMessage {
  color: #9F8772;
}