.EntryList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 70px;
  margin-right: 50px;
  margin-bottom: 150px;
}

.EntryCard {
  background-color: #EDE4E0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px 50px 50px 20px;
  width: 350px;
  position: relative;
}

.EntryCardTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.EntryCardContent {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

.ReadMore {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.ReadMoreLink {
  text-decoration: none;
  color: #9F8772;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.ReadMoreLink:hover {
  text-decoration: none;
  color: #FF5733;
}

.ReadMoreLink::after {
  content: '►';
  margin-left: 0.25rem;
}

.AllEntries h5 {
  text-align: right;
}

.DeleteButton {
  text-align: left;
  margin-top: 10px;
}

button {
  text-decoration: none;
  color: #9F8772;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button:hover {
  color: #FF5733;
}