.FeaturedEntry {
  margin: 70px 0;
}

.FeaturedEntryCard {
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FeaturedEntryContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #333;
}

.FeaturedEntryLeftColumn {
  flex: 1;
  padding: 60px;
  text-align: left;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #EDE4E0;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.FeaturedEntryRightColumn {
  flex: 1;
  text-align: center;
  margin-right: 50px;
}

.FeaturedEntryImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.FeaturedEntryCardTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.FeaturedEntryCardContent {
  font-size: 16px;
  margin-right: 20px;
  line-height: 1.5;
  padding: 10px;
}

.FeaturedReadMore {
  margin-bottom: 20px;
  text-align: right;
}

.FeaturedReadMoreLink {
  text-decoration: none;
  color: #9F8772;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.FeaturedReadMoreLink:hover {
  text-decoration: none;
  color: #FF5733;
}

.FeaturedReadMoreLink::after {
  content: '►';
  margin-left: 0.25rem;
}

.FeaturedDeleteButton {
  text-align: left;
  margin-top: -40px;
  margin-left: -40px;
}

button {
  text-decoration: none;
  color: #9F8772;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button:hover {
  color: #FF5733;
}